.gridWrapper {
  margin: 20px auto;
  display: grid;
  width: min-content;
  grid-template-columns: repeat(3, 1fr);
}

.cardInfo {
  padding: 20px;
}

.cardInfo a {
  text-decoration: none;
  color: rgb(229, 229, 230);
}

.title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  line-height: 25px;
  min-height: 60px;
  font-weight: 700;
  font-size: 1.2em;
  padding: 0 0 20px 0;
  text-align: center;
}

.cardInfo img {
  border-radius: 10px;
  width: 362px;
  height: 543px;
}

.cover{
  object-fit: cover;
}

@media (max-width: 1100px) {
  .gridWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 740px) {
  .gridWrapper {
    grid-template-columns: 1fr;
  }
}