.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.flexWrapper {
  display: flex;
  justify-content: space-evenly;
  max-width: 700px;
  /* min-width: 570px; */
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.flexWrapper label {
  font-size: 1.2em;
  white-space: nowrap;
  padding-right: 0 10px;
}

.hrLine {
  margin: 30px 0;
  border: 1px solid rgb(118, 112, 126);
}

.searchField {
  background: rgb(235, 235, 235);
  border: 1px solid rgb(198, 198, 198);
  border-radius: 5px;
  font-size: 1.2em;
  height: 40px;
  padding: 0 10px;
  width: 400px;
  outline: none;
}